.about {
    padding: 5rem 2rem;
    text-align: center;
    max-width: 800px;
    margin: auto;
    
  }
  
  .about h2 {
    margin-top:3rem;
    font-size: 2.5rem;
    color: rgb(183, 30, 30);
  }
  
  .about p {
    font-size: 1.2rem;
    margin-top: 2rem;
    line-height: 1.6;
  }
  